<div class="App">
  <header class="App-header">
    <img src="Octocat.png" class="App-logo" alt="logo" />
    <p>
      Khatch_Shah <span class="heart">♥️</span> Rails
    </p>
    <p class="small">
      Jesus Christ is the Lord God Almighty †
    </p>
  </header>
</div>
